.tiptap {
  position: relative;
}

.tiptap > *:first-child {
  margin-top: 0;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  pointer-events: none;
  float: left;
  height: 0;
  color: var(--placeholder);
}

/* List styles */
.tiptap ol,
.tiptap ul {
  margin: 20px 0;
  padding-left: 16px;
  padding-right: 16px;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap li p {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Heading styles */
.tiptap h1,
.tiptap h2 {
  margin-top: 56px;
  margin-bottom: 24px;
}

.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  margin-top: 40px;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.2;
  font-weight: bold;
  text-wrap: pretty;
}

/* Code and preformatted text styles */
.tiptap code {
  background-color: var(--inline-code-bg);
  padding: 0.25em 0.5em;
  font-size: 0.85rem;
  border-radius: 4px;
  color: var(--inline-code);
}

.tiptap pre {
  margin: 24px 0;
  background-color: var(--code-block-bg);
  padding: 8px 12px;
  font-family: "JetBrainsMono", monospace;
  font-size: var(--text-foreground);
  border-radius: 8px;
}

.tiptap pre code {
  background-color: transparent;
  padding: 0;
  font-size: 0.8rem;
  color: inherit;
}

/* Mark styles */
.tiptap mark {
  background-color: #faf594;
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
}

/* Blockquote styles */
.tiptap blockquote {
  margin: 24px 0;
  padding-left: 16px;
  border-left: 4px solid rgba(61, 37, 20, 0.12);
}

/* HR styles */
.tiptap hr {
  margin: 32px 0;
  border: 0;
  border-top: 1px solid var(--hr);
}

.tiptap hr.ProseMirror-selectednode {
  border-color: var(--hr-select);
}
